/* Nav styles */

body {
    scroll-behavior: smooth;
    background: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2554.jpg?w=740&t=st=1697895769~exp=1697896369~hmac=a854cf8606eede65311a349c3a0cc83371239d59703273cf6d33c77b7cd52466") center / cover no-repeat;

  }

  p{
    text-align: center;
  }
  
  h1, h2, h3 {
    text-align: center;
  }

  .sticky-navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 5px;
    z-index: 1000;
  }
  
  .sticky-navbar ul,
  .navbar-links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .sticky-navbar li,
  .navbar-links li {
    margin: 0;
    flex: 1; 
  }
  
  .sticky-navbar a,
  .navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
    text-align: center;
  }
  
  .sticky-navbar a:hover,
  .navbar-links a:hover {
    color: #FFA500;
  }
  
  /* Top plays styles */

  .fantasy-football-table {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .positions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
  }
  
  .position {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    flex: 1;
    min-width: 13rem;
  } 
  
  .position h3 {
    margin: 0;
    font-size: 18px;
  }
  
  ol {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .body-padding {
    padding: 1rem;
  }

  #nuts {
    /*background-color: rgb(1, 140, 158);*/
    margin: .2rem;
    padding: .5rem; 
  }

  /* projections styles */

  .projections-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }
  
.projection-table table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .projection-table th,
  .projection-table td {
    padding: 10px; 
  }
  
.fantasy-football-table table th {
    font-size: 14px; 
  }
  
  .position-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .position-table {
    width: 100%;
    table-layout: auto;  
  }
  
  .position-table th,
  .position-table td {
    width: 33%; 
    text-align: center;
    padding: 5px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  #projections {
    background-image: url("https://i.ibb.co/B6jPY45/math.png");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    color: black; 
    font-weight: 500;
    margin: .2rem;
    padding: .5rem;
}

.projection-table table {
font-size: 12px; 
text-shadow: 1px 1px 3px white; 
font-weight: 500;

}

/*Carps Crown styles*/

#carp {
  background-image: url("https://i.ibb.co/GMbcRRM/crown.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  margin: .2rem;
  padding: .5rem;
  font-weight: 500;
}


/*Recap styles */

  #recap {
    color: white; 
    border: 1px solid white;
    margin: .2rem;
    padding: .5rem;
    text-shadow: 1px 1px black;
  }



  /* footer styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 2px; 
  color: white;
  text-align: center;
  font-size: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  margin: 0 10px;
  font-size: 20px;
}

.footer a:hover {
  color: #FFA500;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px; 
}

.matchups-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
 
}

.matchup {
  display: flex;
 margin: 5px 10px;
  border: 1px solid white;
  padding: .3rem 1rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: space-around;
 
}

.favorite-box {
  flex: 1;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dog-box {
  flex: 1;
  padding: 5px;
  text-align: center;
 
}

.total-box {
  flex: 1;
  padding: 5px;
  text-align: center;
  
}

.box1, .box2, .box3 {
  border-right: solid 2px black;
  border-radius: 1rem;
}

.box1, .box2 {
  padding: .5rem 2rem;
}

.box3 {
  padding: .5rem .5rem;
}

.box1:hover, .box2:hover {
  background:#bcffb4;
  cursor: pointer;
}

.total-box:hover {
  background:#bcffb4;
  border-radius: .8rem;
  cursor: pointer;
}

h1, h2 {
  font-family: 'Playpen Sans', cursive;
}

h1 {
  text-shadow: black 2px 3px;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0
}

h2 {
  background-image: linear-gradient(to left, #005204, #b9ffbf);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
}